<!--プロフィール画面-->

<h2>Profile</h2>

<tr><%= image_tag customer.get_profile_image(150, 100) %></tr>
<table class="table">
  <tbody>
    <tr>
      <th><%= customer.name %></th>
    </tr>
    <tr>
      <td><%= customer.introduction %></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="mx-auto">
    <% if customer.id == current_customer.id && current_customer.email != 'guest@example.com' %><!--他のユーザー、ゲストユーザーはプロフィール編集できない-->
      <%= link_to "Profile Edit", edit_public_customer_path(customer), class:"btn btn-outline-dark col-12" %>
    <% end %>
  </div>
</div>
