<h2>Profile</h2>
<tr><%= image_tag customer.get_profile_image(90, 90) %></tr>
<table>
  <tbody>
    <tr>
      <th><%= customer.name %></th>
    </tr>
    <tr>
      <th><%= customer.introduction %></th>
    </tr>
  </tbody>
</table>
<% if customer.id == current_customer.id && current_customer.email != 'guest@example.com' %>
  <%= link_to "プロフィールを編集する", edit_public_customer_path(customer), class:"btn btn-outline-dark" %>

<% end %>